<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% assign seo_title = page.share-title | default: page.title | default: site.title | strip_html | normalize_whitespace %}
  {% assign seo_description = page.description | default: page.share-description | default: page.subtitle %}
  {% unless seo_description %}
    {% if page.id %}
      {% assign seo_description = page.excerpt | markdownify | strip_html | normalize_whitespace | truncate: 160 %}
    {% else %}
      {% assign seo_description = site.description %}
    {% endif %}
  {% endunless %}
  {% assign seo_description = seo_description | strip_html | normalize_whitespace %}
  {% assign title = seo_title | xml_escape %}
  {% assign description = seo_description | xml_escape %}
  {% assign canonical_url = page.url | absolute_url | replace: '/index.html', '/' %}

  <title>{{ title }}</title>

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  <meta name="description" content="{{ description }}">
  {% if page.noindex %}
  <meta name="robots" content="noindex, follow">
  {% else %}
  <meta name="robots" content="index, follow, max-image-preview:large">
  {% endif %}

  {% if site.mobile-theme-col %}
  <meta name="theme-color" content="{{ site.mobile-theme-col }}">
  {% endif %}

  {% if site.rss-description %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  {% endif %}

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}
  {% include cloudflare_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if site.title %}
  <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">

  {% if img != "" %}
  <meta property="og:image" content="{{ img | absolute_url }}">
  {% endif %}

  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="{{ canonical_url }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{{ '/me/' | absolute_url }}">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% if page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
  {% endif %}
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}
  {% unless page.noindex %}{% include structured-data.html %}{% endunless %}

  {% if img != "" and img != site.avatar %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  {% if site.social-network-links.twitter %}
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">
  {% endif %}

  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">

  {% if img != "" %}
  <meta name="twitter:image" content="{{ img | absolute_url }}">
  {% endif %}

  {% include matomo.html %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

</head>
