@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap');
/* Font */
body {
  font-family: 'Open Sans', sans-serif;
}
/* Font size and color */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  font-size: 16px;
  color: #333;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

/* Nav bar */
.navbar {
  background-color: #f8f9fa;
  border: none;
}

.navbar a {
  color: #333;
}

.navbar a:hover {
  color: #007bff;
}


/* Hero section */
.hero {
  background-color: #f8f9fa;
  padding: 100px 0;
  text-align: center;
}

.hero-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-cta {
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero-cta:hover {
  background-color: #0056b3;
}
